<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}HenrikAC{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-slate-900 font-mono">
        <nav>
            <div class="container mx-auto px-4 py-6 flex items-center justify-center md:justify-between">
                <a class="text-3xl text-white font-semibold" href="#top">HenrikAC</a>

                <div class="hidden md:flex md:justify-end md:items-center" id="navbarSupportedContent">
                    <a class="text-white mr-6 hover:underline link" href="#top">Home</a>
                    <a class="text-white mr-6 hover:underline link" href="#projects">Projects</a>
                    <a class="text-white hover:underline link" href="#about">About me</a>
                </div>
            </div>
        </nav>

        <main class="container mx-auto">
            {% block body %}{% endblock %}
        </main>

        <footer class="py-4">
            <div class="flex justify-center">
                <a class="mr-3" href="https://twitter.com/henrikabel" target="_blank">
                    <i class="bi bi-twitter text-white text-3xl"></i>
                </a>

                <a class="ml-3" href="https://github.com/henrikac" target="_blank">
                    <i class="bi bi-github text-white text-3xl"></i>
                </a>
            </div>
            <p class="text-white text-center mt-6">&copy; {{ 'now' | date('Y') }} Henrik A. Christensen</p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('url-prettifier') }}
        {% endblock %}
    </body>
</html>
