<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}HenrikAC{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#top">HenrikAC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#top">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#about">About me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="text-center p-3">
                <a href="https://twitter.com/henrikabel" target="_blank">
                    <i class="bi bi-twitter circle-icon"></i>
                </a>

                <a href="https://github.com/henrikac" target="_blank">
                    <i class="bi bi-github circle-icon"></i>
                </a>
            </div>
            <p class="text-center text-primary">&copy; {{ 'now' | date('Y') }} Henrik A. Christensen</p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
